* {
    margin: 0;   /* quitamos margenes */
    padding: 0;   /* quitamos margenes internas*/
    background-color: rgb(245, 243, 243);
}
html, body{
    height: 100%;
}

header{
    display:block;
    height:100%;
    max-height: 350px;
    width:100%;
    overflow: hidden;
}

.title {
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    color: #085394;
    font-family: Verdana, Tahoma, sans-serif;
}

.fondo{
    height:100%;
}
.fondo img {
   width:100%;
    height:100%;
}   
/*------ contenido ---------------*/
.contenido{
    display: flex;
    flex-direction: row;
     background-color: rgb(245, 243, 243);
   max-width: 100%;
}

.contenido .label-login{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    font-weight:500;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(61, 60, 60);
}


.contenido .form-login a{
    margin-top: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: poniter;
    margin-bottom: 20px;
}

/* Login **/
.contenido .input-txt{
    display: flex;
    margin:auto;
    padding: 5px;    
}
.form-login{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.form-login .caja {
    display: block;
    text-align: center;
}

.form-login .caja label{
    display: block;
    text-align: center;
    
}

/*  ---- cierra contenido ---------*/
.btn {
border: 2px solid rgb(48, 57, 139);
color: white;
cursor: pointer;
width:100px;
}

.btn-submit {
    background-color: #2B78E4;
}

.btn-submit:hover{
    background-color: #073e6e;
}
/* aside----------------------------------*/
aside{
    width:20%;
    background-color: rgb(129, 148, 170);
    height:100vh;
    
    
    
}

aside .contenido-aside{
    background-color: inherit;
    
}

.contenido-aside .titulo-menu {
    background-color: rgba(19, 16, 16, 0.473);
    color: rgb(182, 176, 176);
    font-size: larger;
    padding: 10px;
    font-weight:bold;
    text-align: center;
}

.contenido-aside .linea-normal{  
    background-color: inherit;
    font-size: large;
    text-align: center;
    padding: 10px 0 10px;
    cursor: pointer;
    line-break: auto;
    }

.contenido-aside .linea-normal a{
    text-decoration: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

.contenido-aside .linea-normal.padre{
    background-color: rgba(19, 16, 16, 0.473);
    color: rgb(182, 176, 176);
}

.contenido-aside .linea-normal.padre:hover{
    background-color: rgba(19, 16, 16, 0.473);
    
    }

.contenido-aside .linea-normal:hover{
    background-color: aliceblue;
}






/**** fin aside ---------------------------------*/


.work-area{
    width:80%;
    display: block;
    max-width: 100%;
   }

.work-area .title{
    margin-top: 10px;
    margin-bottom: 50px;

}

.form-principal{
  
    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content:center;
    margin: 0 5px;

}
.campos{
    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content:center;
    margin: 0 auto;
    
}
.form-principal .caja {

    padding: 10px;
    text-align: center;
   

}  

.form-principal .caja.radio{
    border: 2px solid white;
}

.label{
    display: block;
    color:rgb(105, 102, 102)
}

.campo{
    border:1px solid rgba(240, 223, 223, 0.877);
    background-color: white;
    border-radius:4px;
    padding: 4px;
    font-size: 20px;

}  

.imagen-form{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width:350px;
    overflow: hidden;
    border: 2px solid white;
    padding: 2px;
    justify-content: center;
    margin: auto;
}
.imagen-form img{
    display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  margin: auto;
  opacity: 0.5;
  
}

.imagen-form label{
    text-align: center;
    padding: 3px;
    background-color: darkgray;
}
.botones {
    margin-top: 30px;
    display: flex;
    justify-content:center;
    
}

input.btn.btn-submit{
    margin: 5px; 
    border-radius: 5px;
    padding: 10px;
    
 
 
}

/**** medias queryes -------*/


/* hasta 346px */
@media screen and (max-width: 346px){
.caja {
    width: 250px;
    display: inline-block;
    margin: auto;
}


select{
    width:250px;
    
}

textarea{
    width:250px;
}

.form-principal{
    display: block;

}


}


/*-- hasta 768 */
@media screen and (max-width: 768px){
.contenido {
    flex-direction: column;
}

aside {
    width: 100%;
    order:1;
    height: auto;
}

.work-area{
    width:100%;
    order:2;
}
.campos{
    display: block;
}


}

/* cuando pasa los 768px */
@media screen and (min-width: 768px){
    .fondo img {
        height:600px;

    }
    .form-principal{
        display: flex;
    }

    }
