<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Repair Pro V1.0 - Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="fondo">
            <img src="..\static\img\fondo.jpg" alt="fondo"> 
        </div>
       
    </header>
    <div class="contenido">
        <div class="form-login">
            <form action="base.html">
                    <div class="caja"> 
                    <label for="usuario" class="label-login">Usuario</label>
                    <input type="text" name="usuario" class="campo">
                    </div>    
                    
                    <div class="caja">
                    <label for="password" class="label-login">Contraseña</label>
                    <input type="password" name="password" class="campo">
                    </div>

                    <a href="">Olvidó su contraseña</a>
                  
                    <input type="submit" class="btn btn-submit" name="submit" value="Ingresar">
                     
                </form>
        </div>
    </div>
    
</body>
</html>